<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{index::bootstrap-import}"></th:block>
    <title>Recruteur - Connexion</title>
</head>
<body class="bg-light">
<div th:id="main" class="min-vh-100 bg-light">
    <th:block th:replace="~{index::header}"></th:block>
    <main class="container">
        <form class="mt-5 m-auto p-4 w-50 shadow" th:action="@{/recruiter/login}" method="post" th:object="${recruiterAccount}">
            <h3 class="text-center my-3">Connexion à l'espace recruteur</h3>
            <hr>
            <div class="p-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="login" name="login" th:field="*{login}" placeholder="">
                    <label for="login">Identifiant</label>
                </div>
            </div>
            <div class="p-2">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <hr>
            <div class="mt-3">
                <button class="w-100 py-2 btn btn-primary">Connexion</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>