<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{index::bootstrap-import}"></th:block>
    <title>Page introuvable</title>
</head>
<body class="bg-light">
<div th:id="main" class="min-vh-100 bg-light">
    <th:block th:replace="~{index::header}"></th:block>
    <main class="container">
        <h2 class="mt-5 text-center">404</h2>
        <h4 class="mt-5 text-center">Cette page n'existe pas.</h4>

    </main>
</div>
</body>
</html>